minio-volume/.minio.sys/
minio-volume/warehouse/
minio-volume/seed/
*.meta
minio-volume/seed/test.csv/xl.meta
minio-volume/seed/test.csv/xl.meta

workspace/finalytics_spark/src/.ipynb_checkpoints/
workspace/finalytics_spark/config/.ipynb_checkpoints/

workspace/finalytics_spark/src/etl_pipelines/.ipynb_checkpoints/
workspace/finalytics_spark/src/etl_pipelines/__pycache__/
workspace/finalytics_spark/src/etl_pipelines/__pycache__/
workspace/.Trash-0/info/
*.trashinfo
postgres/
minio-volume/seed/
